<!DOCTYPE html>

<html lang="en" dir="ltr">
    <head>
        <meta charset="utf-8">
        <title>Forest fire Predictor</title>
        
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles.css') }}">
        <script src="https://kit.fontawesome.com/5f3f547070.js" crossorigin="anonymous"></script>
        <link href="https://fonts.googleapis.com/css2?family=Pacifico&display=swap" rel="stylesheet">
    </head>

    <body>

        <!-- Website Title -->
    	<div class="container">
            <h2 class='container-heading'><span class="heading_font">Forest fire Predictor</span></h2>

    	</div>

        <!-- Text Area -->
    	<div class="ml-container">
    		<form action="{{ url_for('predict') }}" method="POST">
                <input class="form-input" type="text" name="oxygen" placeholder="Oxygen content"><br>
                <input class="form-input" type="text" name="temperature" placeholder="Temperature value"><br>
                <input class="form-input" type="text" name="humidity" placeholder="Humidity value."><br>


        		<input type="submit" class="my-cta-button" value="Predict">
        	</form>
    	</div>
        <div class="results">
         <h2 style="color:orange;"> {{ prediction }} </h2>
        </div>
        <h3><p style="color:#8b8e72;">Developed by :<br>Likhith R K , Sangamesh Kulkarni and Srihari Janadri </p></h3>
    </body>
</html>
